[Unit]
Description=ddclient_freedns-container
After=docker.service
BindsTo=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RestartSec=20
ExecStartPre=-/usr/bin/docker stop ddclient_freedns
ExecStartPre=-/usr/bin/docker kill ddclient_freedns
ExecStartPre=-/usr/bin/docker rm ddclient_freedns
ExecStartPre=-/usr/bin/docker pull randomcoww/chef-client:entrypoint
ExecStart=/usr/bin/docker run --rm --name ddclient_freedns -v /etc/chef:/etc/chef randomcoww/chef-client:entrypoint -o 'role[ddclient_freedns]'
ExecStartPost=-/bin/sh -c '/usr/bin/docker rmi $(/usr/bin/docker images -qf dangling=true)'
ExecStop=/usr/bin/docker stop ddclient_freedns

[Install]
WantedBy=multi-user.target
