[Unit]
Description=nftables_gw-container
After=docker.service
BindsTo=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RestartSec=20
ExecStartPre=-/usr/bin/docker stop nftables_gw
ExecStartPre=-/usr/bin/docker kill nftables_gw
ExecStartPre=-/usr/bin/docker rm nftables_gw
ExecStartPre=-/usr/bin/docker pull randomcoww/chef-client:entrypoint
ExecStart=/usr/bin/docker run --rm --name nftables_gw -v /etc/chef:/etc/chef --net host --cap-add=NET_ADMIN randomcoww/chef-client:entrypoint -o 'role[nftables_gw]'
ExecStartPost=-/bin/sh -c '/usr/bin/docker rmi $(/usr/bin/docker images -qf dangling=true)'
ExecStop=/usr/bin/docker stop nftables_gw

[Install]
WantedBy=multi-user.target
