[Unit]
Description=openvpn_server-container
After=docker.service
BindsTo=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RestartSec=20
ExecStartPre=-/usr/bin/docker stop openvpn_server
ExecStartPre=-/usr/bin/docker kill openvpn_server
ExecStartPre=-/usr/bin/docker rm openvpn_server
ExecStartPre=-/usr/bin/docker pull randomcoww/chef-client:entrypoint
ExecStart=/usr/bin/docker run --rm --name openvpn_server -v /etc/chef:/etc/chef --cap-add=NET_ADMIN --net host --device /dev/net/tun randomcoww/chef-client:entrypoint -o 'role[openvpn_server]'
ExecStartPost=-/bin/sh -c '/usr/bin/docker rmi $(/usr/bin/docker images -qf dangling=true)'
ExecStop=/usr/bin/docker stop openvpn_server

[Install]
WantedBy=multi-user.target
