[Unit]
Description=transmission_network-container
After=docker.service
BindsTo=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
RestartSec=20
ExecStartPre=-/usr/bin/docker stop transmission_network
ExecStartPre=-/usr/bin/docker kill transmission_network
ExecStartPre=-/usr/bin/docker rm transmission_network
ExecStartPre=-/usr/bin/docker pull randomcoww/chef-client:entrypoint
ExecStart=/usr/bin/docker run --rm --name=transmission_network -v /etc/chef:/etc/chef --net=docker1 --ip 172.20.0.3 -v /etc/resolv.conf:/etc/resolv.conf:ro --cap-add=NET_ADMIN --device /dev/net/tun randomcoww/chef-client:entrypoint -o 'role[transmission_network]'
ExecStartPost=-/bin/sh -c '/usr/bin/docker rmi $(/usr/bin/docker images -qf dangling=true)'
ExecStop=/usr/bin/docker stop transmission_network

[Install]
WantedBy=multi-user.target
