[Unit]
Description=openvpn_config-container
After=docker.service
BindsTo=docker.service

[Service]
User=core
TimeoutStartSec=0
Restart=on-failure
RestartSec=20
ExecStartPre=-/usr/bin/docker kill openvpn_config
ExecStartPre=-/usr/bin/docker rm -f openvpn_config
ExecStartPre=/usr/bin/docker pull randomcoww/chef_run:2016120601
ExecStartPre=-/usr/bin/docker rmi $(/usr/bin/docker images -qf "dangling=true")
ExecStartPre=/usr/bin/docker volume create --name openvpn-data
ExecStart=/usr/bin/docker run --rm --name openvpn_config -v openvpn-data:/etc/openvpn randomcoww/chef_run:2016120601 -o openvpn_config -s 30 -i 300
ExecStop=/usr/bin/docker stop openvpn_config
