install
text
shutdown
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --plaintext password
user --name=fedora --password=password --plaintext
network --hostname=vm1
zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --timeout=1

%packages --excludeWeakdeps
@core
systemd-udev
which
ipmitool
libvirt-daemon-kvm
libvirt-daemon-config-network
qemu-kvm
openssh
gnupg
ntp
-NetworkManager
-plymouth
-dhclient
-sendmail
-ppc64-utils
%end

%post --erroronfail

cat <<EOF > /etc/sudoers.d/default
fedora ALL=(ALL) ALL
EOF
chmod 440 /etc/sudoers.d/default


## ZFS
dnf -y install http://download.zfsonlinux.org/fedora/zfs-release$(rpm -E %dist).noarch.rpm
gpg --quiet --with-fingerprint /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
dnf -y install kernel-devel zfs


## systemd networkd
cat <<EOF > /etc/systemd/network/99-fallback.network
[Match]
Name=*
Virtualization=yes
[Network]
DHCP=yes
EOF

cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
FallbackDNS=
DNSStubListener=no
EOF

ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf
systemctl enable systemd-networkd


## IPMI fan control
cat <<EOF > /etc/modules-load.d/ipmi.conf
ipmi_devintf
ipmi_si
EOF

cat <<EOF > /etc/systemd/systemd/fancontrol.service
[Unit]
Description=Fan Control
After=ipmievd.service
[Service]
Type=oneshot
# set full speed
# ExecStartPre=/usr/bin/ipmitool raw 0x30 0x45 0x01 0x01
# fan control 0x30 0x70 0x66
# get 0x00, set 0x01
# zone FAN 1,2,.. 0x00, FAN A,B,.. 0x01
# duty cycle 0x00-0x64
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x00 0x20
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x01 0x20
[Install]
WantedBy=multi-user.target
EOF
systemctl enable fancontrol


## sshd
cat <<EOF > /etc/ssh/sshd_config
Subsystem sftp internal-sftp

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
EOF


## boot options
cat <<EOF > /etc/modprobe.d/local.conf
options vfio-pci ids=1002:ffffffff:ffffffff:ffffffff:00030000:ffff00ff,1002:ffffffff:ffffffff:ffffffff:00040300:ffffffff,10de:ffffffff:ffffffff:ffffffff:00030000:ffff00ff,10de:ffffffff:ffffffff:ffffffff:00040300:ffffffff
options kvm ignore_msrs=1
options kvm-intel nested=1
options ixgbe max_vfs=8
EOF

cat <<EOF > /etc/dracut.conf.d/local.conf
add_drivers+="vfio vfio_iommu_type1 vfio_pci vfio_virqfd"
EOF

dracut -f --kver `uname -r`


## cleanup
echo -n > /var/lib/dbus/machine-id
echo -n > /etc/machine-id

%end
