install
text
shutdown
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC
rootpw --plaintext password
user --name=fedora --password=password --plaintext
network --hostname=vm1
zerombr
autopart --type=plain
clearpart --all --initlabel
bootloader --timeout=1

%packages --excludeWeakdeps
@core
systemd-udev
which
ipmitool
libvirt-daemon-kvm
libvirt-client
qemu-kvm
openssh
gnupg
ntp
ksm
nfs-utils
-NetworkManager
-plymouth
-dhclient
-sendmail
-ppc64-utils
%end

%post --erroronfail

cat <<EOF > /etc/sudoers.d/default
fedora ALL=(ALL) ALL
EOF
chmod 440 /etc/sudoers.d/default


## ZFS
dnf -y install http://download.zfsonlinux.org/fedora/zfs-release$(rpm -E %dist).noarch.rpm
gpg --quiet --with-fingerprint /etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux
dnf -y install "kernel-devel-uname-r == $(uname -r)" zfs


## systemd networkd
cat <<EOF > /etc/systemd/network/99-fallback.network
[Match]
Name=*
Virtualization=yes
[Network]
DHCP=yes
EOF

cat <<EOF > /etc/systemd/network/50-eno1.network
[Match]
Name=eno1
[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=host_lan
EOF

cat <<EOF > /etc/systemd/network/50-eno2.network
[Match]
Name=eno2
[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=host_wan
EOF

cat <<EOF > /etc/systemd/network/50-ens1.network
[Match]
Name=ens1
[Network]
LinkLocalAddressing=no
DHCP=no
MACVLAN=host_store
EOF

cat <<EOF > /etc/systemd/network/50-host_lan.netdev
[NetDev]
Name=host_lan
Kind=macvlan
[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/50-host_lan.network
[Match]
Name=host_lan
[Network]
LinkLocalAddressing=no
DHCP=yes
[Address]
Address=192.168.62.251/23
EOF

cat <<EOF > /etc/systemd/network/50-host_store.netdev
[NetDev]
Name=host_store
Kind=macvlan
[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/50-host_store.network
[Match]
Name=host_store
[Network]
DHCP=no
LinkLocalAddressing=no
[Address]
Address=192.168.126.251/23
EOF

cat <<EOF > /etc/systemd/network/50-host_wan.netdev
[NetDev]
Name=host_wan
Kind=macvlan
[MACVLAN]
Mode=bridge
EOF

cat <<EOF > /etc/systemd/network/50-host_wan.network
[Match]
Name=host_wan
[Network]
LinkLocalAddressing=no
DHCP=no
EOF

cat <<EOF > /etc/systemd/resolved.conf
[Resolve]
FallbackDNS=
DNSStubListener=no
EOF

ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf


## IPMI fan control
cat <<EOF > /etc/modules-load.d/ipmi.conf
ipmi_devintf
ipmi_si
EOF

cat <<EOF > /etc/systemd/system/fancontrol.service
[Unit]
Description=Fan Control
After=ipmievd.service
[Service]
Type=oneshot
# set full speed
# ExecStartPre=/usr/bin/ipmitool raw 0x30 0x45 0x01 0x01
# fan control 0x30 0x70 0x66
# get 0x00, set 0x01
# zone FAN 1,2,.. 0x00, FAN A,B,.. 0x01
# duty cycle 0x00-0x64
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x00 0x20
ExecStart=/usr/bin/ipmitool raw 0x30 0x70 0x66 0x01 0x01 0x20
[Install]
WantedBy=multi-user.target
EOF


## sshd
cat <<EOF > /etc/ssh/sshd_config
Subsystem sftp internal-sftp
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
EOF


## boot options
cat <<EOF > /etc/modprobe.d/local.conf
options vfio-pci ids=1002:ffffffff:ffffffff:ffffffff:00030000:ffff00ff,1002:ffffffff:ffffffff:ffffffff:00040300:ffffffff,10de:ffffffff:ffffffff:ffffffff:00030000:ffff00ff,10de:ffffffff:ffffffff:ffffffff:00040300:ffffffff
options kvm ignore_msrs=1
options kvm-intel nested=1
options ixgbe max_vfs=8
EOF

cat <<EOF > /etc/dracut.conf.d/local.conf
add_drivers+="vfio vfio_iommu_type1 vfio_pci vfio_virqfd"
EOF

dracut -f --kver `uname -r`


## grub
cat <<EOF >> /etc/default/grub
GRUB_CMDLINE_LINUX="console=tty0 console=ttyS1,115200n8 elevator=noop intel_iommu=on iommu=pt cgroup_enable=memory"
GRUB_TERMINAL="console serial"
GRUB_SERIAL_COMMAND="serial --unit=1 --speed=115200 --word=8 --parity=no --stop=1"
EOF

grub2-mkconfig -o /boot/grub2/grub.cfg


## enable services
systemctl enable systemd-networkd systemd-resolved \
  ksm ksmtuned \
  fancontrol \
  zfs-import-cache zfs-import-scan zfs-mount zfs-share zfs-zed zfs.target \
  nfs-server


## cleanup
dnf -y upgrade
dnf -y autoremove
echo -n > /var/lib/dbus/machine-id
echo -n > /etc/machine-id

%end
